*{
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

/* 
--reconfig for bootstrap
*/
.container, .row{
    height: 100%;
}

html{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    font-family: Roboto,Helvetica Neue,Arial;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logoSection{
    padding-right: 12px;
}

.logo{
    width: 50px;
    height: 100%;
}

.header__itemContainer{
    padding: 0 12px;
}

.header__item{
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__content{
    transition: font-size 0.3s ease-in-out;
    font-size: 0.8rem;
    font-weight: lighter;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Roboto,Helvetica Neue,Arial;
}

.item__content:hover{
    text-decoration: none;
    color: white;
}

/* video_slide */
.video__slider {
    width: 100%;
    height: 100vh;
}

.img_bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    /* filter:brightness(10%); */
}

.wapper {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 160px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* các trình duyệt khác */
}

.video__slider--title {
    display: inline-block;
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 1.36px;
}

.word {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.word.active {
    opacity: 1;
}

.video__slider--content {
    opacity: 0;
    transform: translateX(-116%);
    font-size: 5.8rem;
    font-weight: 700 !important;
    line-height: 0.9;
    letter-spacing: -5.48px;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.video__slider--content.active {
    opacity: 1;
    transform: translateX(0);
}

