* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

/* 
--reconfig for bootstrap
*/
.container,
.row {
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
        margin-left: 80px;
        margin-right: 80px;
    }
}

* {
    font-family: Roboto, Helvetica Neue, Arial;
}

body {
    /* overflow-y: hidden; */
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

.main {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/** code by webdevtrick ( https://webdevtrick.com ) **/
::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1ae35), to(#fd5504));
    /* background-color: #f1ae35;
    background-color: #fd5504; */
    cursor: pointer;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-track {
    background-color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}