.header {
    width: 100%;
    background-color: #181818;
    height: auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: top 0.2s;
    transform: translateY(-100%);
}

.header__logoSection {
    padding-right: 12px;
}

.header__logo {
    width: 60px;
    height: 100%;
}

.header__itemContainer {
    cursor: pointer;
    padding: 0 12px;
}

.header__overlay{
    position: absolute;
    top: 100%;
    background-color: #181818;
    left: 0;
    right: 0;
    transition: top 0.2s;
    height: fit-content;
}

.header__item {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__item:hover .sub__header{
    display: flex;
}

.sub__header{
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: absolute;
    top: 100%;
    padding-top: 12px;
    left: 0;
    background-color: #181818;
}

.sub__header__content{
    cursor: pointer;
    padding: 20px 16px;
    color: #6f6f6f;
    display: block;
    width: fit-content;
    font-size: 0.95rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    /* color: white; */
    transition: color 0.3s ease-out 0s;
    /* position: relative; */
}

.sub__header__content:hover{
    text-decoration: none;
    color: white;
}

.header__item:after {
    content: "";
    position: absolute;
    height: 1.4px;
    top: calc(80%);
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
    z-index: 100;
    width: 0;
}

.header__item:hover::after {
    width: 100%;
    z-index: 100;
    cursor: pointer;
}

.header__item__content {
    /* font-family: Arial, Helvetica, sans-serif; */
    transition: font-size 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Roboto, Helvetica Neue, Arial;
}

.header__item__content:hover {
    text-decoration: none;
    color: white;
}

.sub__header__item{
    position: relative;
}

.sub__header2{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.sub__header__item:hover .sub__header2{
    /* display: flex; */
}

.sub__header2__content{
    cursor: pointer;
    padding: 20px 16px;
    color: #6f6f6f;
    /* display: block; */
    width: fit-content;
    font-size: 0.95rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    /* color: white; */
    transition: color 0.3s ease-out 0s;
}