.config__slider {
    width: 100%;
    height: auto;
}

.config__slider--bg {
    width: 100%;
}

.config__slider--btn {
    margin-left: 7px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    /* transform: scale(0);
    transition: transform 1s ease 1s; */
}

.config__slider--btn path {
    stroke: black;
    fill: transparent;
    transition: fill 0.3s ease-out;
}

.config__slider--btn:hover path {
    fill: black;
    stroke: black;
}

.config__slider--btn .icon.on-dark {
    fill: white;
    stroke: black;
    transition: stroke 0.3s ease-out,fill 0.3s ease-out;
}

.config__slider--btn:hover .icon.on-dark {
    fill: black;
    stroke: white;
}

.config__slider--content {
    font-size: 76px;
}

.pagination-item {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.32px;
    text-align: left;
    padding: 0 65px 20px 0;
    border: none;
    color: rgba(32, 32, 32, 1);
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgba(203, 203, 202, 1);
}

.pagination-item:hover.pagination-item::before {
    width: 100%;
}

.pagination-item::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    bottom: -1px;
    transition: width .3s ease-in-out;
    background-color: #000;
}

.pagination-item.active.pagination-item::before {
    width: 100%;
}

.config__slider--title {
    color: black;
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 39px;
}

.word {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.word.active {
    opacity: 1;
}