.config__slider {
    position: relative;
    width: 100%;
    height: auto;
}

.config__slider--wrapper {
    position: relative;
    padding: 140px 0 60px 0;
}

.texts {
    min-height: 500px;
    white-space: nowrap;
}

.config__slider--bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.config__slider--btn {
    width: 45px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    transform: translateX(200px) scale(0);
    transition: transform 0.5s ease 1.6s;
}


.config__slider--btn path {
    stroke: black;
    fill: transparent;
    transition: fill 0.3s ease-out;
}

.config__slider--btn:hover path {
    fill: black;
    stroke: black;
}

.config__slider--btn .icon.on-dark {
    fill: white;
    stroke: black;
    transition: stroke 0.3s ease-out,fill 0.3s ease-out;
}

.config__slider--btn:hover .icon.on-dark {
    fill: black;
    stroke: white;
}

.config__slider--content {
    color: black;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: -2.28px;
    line-height: 73.72px;
    margin: 9px 0 30px 0;
}

.config__slider--pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.pagination-item {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.32px;
    text-align: left;
    padding: 0 65px 20px 0;
    border: none;
    color: rgba(32, 32, 32, 1);
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.pagination-item:hover.pagination-item::before {
    width: 100%;
}

.pagination-item::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    height: 1.5px;
    bottom: -1px;
    transition: width .3s ease-in-out;
    background-color: #000;
}

.pagination-item.active.pagination-item::before {
    width: 100%;
}

.config__slider--title {
    color: black;
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 39px;
}

.word {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.word.active {
    opacity: 1;
}

.position-absolute {
    top: 0;
    left: 0;
}

.links {
    position: relative;
}

.link-item {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.link-item.active {
    opacity: 1;
    visibility: visible;
}

.config__slider--subContent {
    opacity: 0;
    transform: translateX(-600px);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.config__slider--nameCar {
    opacity: 0;
    transform: translateX(-600px);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    transition-delay: 0.8s;
}

.link-item.active .config__slider--subContent {
    opacity: 1;
    transform: translateX(0);
}

.link-item.active .config__slider--nameCar {
    opacity: 1;
    transform: translateX(0);
}

.link-item.active .config__slider--btn {
    transform: translateX(0) scale(1);
}

/* @media only screen and (max-width: 767px) {
    .config__slider--content {
        font-size: 40px;
        line-height: unset;
    }

    .pagination-item {
        padding: 0px 30px 15px 0px;
    }
} */