/* video_slide */
.video__slider {
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.video__slider.active {
    opacity: 1;
    visibility: visible;
}

.bg-overlay {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(farthest-corner at 85% 10%, rgba(0,0,0,0) 50%, rgba(0,0,0, 0.6) 100%);

}

.img_bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    
    transition: opacity 1.5s ease, visibility 1.5s ease; 
    will-change: opacity; 
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
      opacity: 0; /* Độ trong suốt ban đầu */
    }
    100% {
      opacity: 1; /* Độ trong suốt sau khi load */
    }
  }

.wapper {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 300px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* các trình duyệt khác */
}

.video__slider--title {
    display: inline-block;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 1.36px;
    line-height: 45.22px;
}

.word {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.word.active {
    opacity: 1;
}

.video__slider--content {
    opacity: 0;
    transform: translateX(-116%);
    font-size: 110px;
    font-weight: 700;
    line-height: 99px;
    letter-spacing: -3.48px;
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
}

.video__slider--content.active {
    opacity: 1;
    transform: translateX(0);
}

/* responsive on mobile */
@media (max-width: 768px) {

    .video__slider--title {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1.62px;
        margin-bottom: 15px;
    }

    .video__slider--content {
        outline: #181818;
        font-size: 40px;
        font-weight: normal;
        letter-spacing: -1.5px;
        line-height: 1.5;
    }
}

.imgs {
    margin-bottom: 20px;
    position: relative;
    height: 670px;
}

.img-wrapper {
    height: 616px;
    position: relative;
    height: 100%;
    left: 230px;
    width: 1232px;
}

.clip-svg {
    height: 100%;
    width: 100%;
}

.cars-infor-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    word-spacing: 0;
    text-decoration: none solid rgb(32, 32, 32);
    margin-bottom: 0;
}

.middle {
    position: relative;
    margin-bottom: 20px;
}

.middle .col-6:nth-child(1) .img-wrapper {
    left: -268px;
    top: 66px;
    /* height: 60rem; */
    width: 1080px;
    right: calc(-17.5rem + 10px);
}

.middle .col-6:nth-child(2) .img-wrapper {
    left: -430px;
    width: 130.956rem;
}

/* .car-info-item {
    margin-bottom: 10px;
}

.logo-title img {
    width: 100%;
    margin-top: 30px;
}

.cars-infor-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    word-spacing: 0;
    text-decoration: none solid rgb(32, 32, 32);
    margin-bottom: 0;
}

.cars-infor-btn {
}

.links {
    position: relative;
    width: 370px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 0;
    border-bottom: 1px solid rgba(203, 203, 202, 1);
    padding: 18px 0;
    color: black;
}

.links:hover {
    color: black;
    text-decoration: none;
}

.links:hover.links::before {
    width: 100%;
}

.links::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    height: 1px;
    bottom: -1px;
    transition: width .3s ease-in-out;
    background-color: #000;
}

.imgs {
    height: 1020px;
    position: relative;
}

.img-item:nth-child(1) {
    position: absolute;
    top: 0;
    left: -32px;
    height: 492px;
}

.img-item:nth-child(2) {
    position: absolute;
    top: 510px;
    left: -407px;
    height: 500px;
}

.img-item-2:nth-child(1) {
    position: absolute;
    top: 0px;
    left: -240px;
    height: 500px;
}

.img-item-2:nth-child(2) {
    position: absolute;
    top: 520px;
    left: -900px;
    height: 500px;
}

.img-item-3 {
    left: 230px;
}

.img-item-3 .skew-fix {
    width: calc(100% + 60rem);
}

.bgc-grey {
    background-color: rgb(241, 241, 241);
}

@media (max-width: 1025px) {
    .logo-title img {
        width: 52%;
        margin-top: 0;
    }

    p {
        margin: 0;
    }
}

.cars-info .tablet-design-button {
    width: 100%;
}

.cars-info .tablet-design-button:hover {
    margin-left: 0;
} */