.news-section-title--secondary {
    font-size: 34px;
    font-weight: 500;
}

.news-section-title--primary {
    font-size: 76px;
    letter-spacing: -2.28px;
    line-height: 73.72px;
}

.news__section_main_new_time {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.8px;
    line-height: 23.4px;
}

.paragraphs {
    margin-top: 45px;
   
}

.paragraphs p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;
    line-height: 32.04px;
}

.texts-wrapper {
    padding: 0 20px;
}