.model__slider {
    width: 100%;
    user-select: none;
}

@media (max-width: 420px) {
    .model__slider{
        display: none;
    }
}


#content .slider2 {
    position: relative;
    height: 100vh;
    min-height: 680px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* @media (max-width: 1024px) {
    #content .slider2 {
        display: none;
    }
} */

#content .slider2 .slides2 {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
}

#content .slider2 .slides2 .slide2 {
    position: relative;
    width: 29.2vw;
    height: 100%;
    transition: width 0.5s ease-out;
}

#content .slider2 .slides2 .slide2.active {
    width: 60vw;
}

#content .slider2 .slides2 .slide2.active .slide2-skew::after {
    opacity: 0;
}

#content .slider2 .slides2 .slide2 .slide2-skew {
    position: relative;
    width: 100%;
    height: 100%;
    transform: skew(-20deg);
    transform-origin: bottom left;
    background-color: black;
    overflow: hidden;
}

#content .slider2 .slides2 .slide2 .slide2-skew::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}

#content .slider2 .slides2 .slide2 .slide2-skew .skew-fix {
    position: relative;
    width: 236%;
    height: 100%;
    transform: skew(20deg);
    transform-origin: bottom left;
}

#content .slider2 .slides2 .slide2 .slide2-skew .skew-fix img {
    max-width: unset;
    width: auto;
    height: 100%;
    position: absolute;
    left: 21%;
    bottom: 0;
    transform: translateX(-50%);
}

#content .slider2 .slider2-navigation {
    position: absolute;
    z-index: 5;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

#content .slider2 .slider2-navigation .tittle {
    font-size: 34px;
    font-weight: 500;
    color: white;
    margin-bottom: 2.2rem;
    line-height: 1;
    font-style: normal;
    font-stretch: normal;
    line-height: 44.88px;
    letter-spacing:  1.36px;
}

#content .slider2 .slider2-navigation .slider2-navigation-btn {
    display: inline-block;
}

#content .slider2 .slider2-navigation .slider2-navigation-btn .btn {
    display: inline-block;
    width: 4.3rem;
    height: 4.3rem;
    cursor: pointer;
    padding-left: unset;
    padding-right: 20px;
}

#content .slider2 .slider2-navigation .slider2-navigation-btn .btn:first-child {
    margin-right: 10%;
}

#content .slider2 .slider2-navigation .slider2-navigation-btn .btn path {
    stroke: white;
    fill: transparent;
}

#content .slider2 .slider2-navigation .slider2-navigation-btn .btn:hover path {
    fill: white;
}

#content .slider2 .slider2-navigation .slider2-navigation-btn .btn:hover .icon.on-dark {
    stroke: black;
}

#content .slider2 .slide2-text-container {
    position: relative;
    top: 40%;
    right: -9%;
}


.name-car {
    position: absolute;
    top: 0;
    display: flex;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
}

.text-container.active .name-car {
    opacity: 1;
    visibility: visible;
}

.slogan-car {
    margin-top: 130px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    color: white;
    transform: translateX(-105rem);
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out 0.5s;
}


.text-container.active .slogan-car {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

#content .slider2 .slide2-text-container .text-container .name-car {
    font-size: 116px;
    font-weight: bold;
    line-height: 0.9;
    letter-spacing: -3.5px;
}

#content .slider2 .slide2-text-container .text-container .slogan-car {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.46px;
}

#content .slider2 .slide2-text-container .slider2-explore {
    position: relative;
    top: 250px;
    left: -4px;
    display: flex;
    padding-left: 1rem;
}

#content .slider2 .slide2-text-container .slider2-explore-icon {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 2.5rem;
    cursor: pointer;
}

#content .slider2 .slide2-text-container .slider2-explore-icon path {
    fill: transparent;
    stroke: white;
}

#content .slider2 .slide2-text-container .slider2-explore-icon:hover path {
    fill: white;
}

#content .slider2 .slide2-text-container .slider2-explore-icon:hover .icon.on-dark path {
    stroke: black;
}

#content .slider2 .slide2-text-container .slider2-explore-text {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    line-height: 1.6rem;
}