#breadcrumbs {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 500px;
    padding: 5px 30px 5px 65px;
}

.breadcrumb {
    background-color: rgb(24, 24, 24);
    width: fit-content;

}