#breadcrumbs {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 125px;
}

.breadcrumb {
    background-color: rgb(24, 24, 24);
    width: fit-content;
    padding: 5px 30px 5px 65px;
    text-transform: uppercase;
    clip-path: polygon(0px 0px, 100% 0px, calc(100% - 15px) 100%, 0% 100%);
}

.breadcrumb-item {
    display: flex;
    text-align: center;
}

.breadcrumb-item::before {
    color: rgb(255, 255, 255) !important;
    font-size: 10px;
    font-weight: 300;
    font-size: 12.8px;
}

.breadcrumb-item a {
    font-size: 12.8px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.breadcrumb-item.active {
    font-size: 12.8px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

/* .breadcrumb-item.active::before {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 300;
    font-size: 12.8px;
} */