#breadcrumbs {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 500px;
}

.breadcrumb {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
    width: fit-content;
    padding: 5px 30px 5px 65px;
    text-transform: uppercase;
    clip-path: polygon(0px 0px, 100% 0px, calc(100% - 15px) 100%, 0% 100%);
}