#breadcrumbs {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 500px;
}

.breadcrumb {
    background-color: rgb(24, 24, 24);
    width: fit-content;
    padding: 5px 30px 5px 65px;
    text-transform: uppercase;
    clip-path: polygon(0px 0px, 100% 0px, calc(100% - 15px) 100%, 0% 100%);
}

.breadcrumb-item a {
    font-size: 12.8px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.breadcrumb-item .active {
    font-size: 12.8px;
    font-weight: 500;
}