.error-alert {
    position: relative;
    /* z-index: 1; */
    width: 100%;
}

.container-404 {
    /* padding: 100px 50px 25px 50px; */
}

.error-bg {
    height: 100%;
    width: 100%;
}

.error-title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 20px 0;
}

.error-content {
    z-index: 100;
    position:absolute;  
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}