.error-alert {
    position: relative;
    /* z-index: 1; */
    width: 100%;
}

.error-bg {
    height: 100%;
    width: 100%;
}

.error-content {
    z-index: 100;
    position:absolute;  
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}